.cart {
  width: 380px;
  align-self: center;
  height: 223px;
  margin: 20px 14px 20px 16px;
}

.cart__title {
  color: white;
  background-color: #27ae60;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
}

.cart__title h2 {
  margin-left: 21px;
  font-size: 18px;
  font-weight: 700;
}

.cart__empty {
  width: 100%;
  height: 158px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart__empty h2 {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
}

.cart__empty span {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
}

.cart__products {
  padding-top: 20px;
  background-color: #f5f5f5;
}

.cart__products ul {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 325px;
}

@media (min-width: 1055px) {
  .cart {
    align-self: flex-start;
    margin-top: 0;
  }
}

@media (max-width: 390px) {
  .cart {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
