.bloco__cartTotal {
  width: 343px;
  margin-left: auto;
  margin-right: auto;
  height: 104px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 21px;
  border-top: 2px solid #e0e0e0;
  padding-bottom: 20px;
}

.bloco__cartTotal h3 {
  color: #333333;
  font-weight: 600;
  font-size: 14px;
}

.bloco__cartTotal span {
  color: #828282;
  font-weight: 600;
  font-size: 14px;
}

.bloco__cartTotal button {
  width: 100%;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  margin-top: -10px;
}

@media (max-width: 390px) {
  .bloco__cartTotal {
    width: 270px;
  }
}
