.App {
  text-align: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1055px) {
  main {
    flex-direction: row;
    height: 100%;
    justify-content: center;
  }
}
